<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Update Your Account</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/global.css">
</head>
<body>
	<div class="container">
		<div class="form-header">
			<h2>회원 정보 수정</h2>
		</div>
		<!-- <form id="joinForm" th:action="@{/user/join}" method="post" onsubmit="return finalValidation()"> -->
		<form id="updateForm">
			<div class="form-group">
				<label for="userId">아이디</label>
				<div class="input-group">
					<input type="text" class="form-control" id="userId" name="userId"
						th:value="${userId}" disabled>
				</div>
				<div id="idValidationMessage" class="validation-message"></div>
			</div>
			<!-- <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="영문, 숫자, 특수문자 포함 8자 이상" required>
                <div class="validation-message text-danger">영문, 숫자, 특수문자를 포함하여 8자 이상이어야 합니다.</div>
            </div>
            <div class="form-group">
                <label for="passwordConfirm">비밀번호 확인</label>
                <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="비밀번호를 다시 입력하세요" required>
                <div class="validation-message text-danger">비밀번호가 일치하지 않습니다.</div>
            </div> -->
			<hr class="my-4">
			<div class="form-group">
				<label for="userName">이름</label> <input type="text"
					class="form-control" id="userName" name="userName"
					placeholder="이름을 입력하세요" required>
				<div class="validation-message text-danger">이름을 입력해주세요.</div>
			</div>
			<div class="form-group">
				<label for="userEmail">이메일</label>
				<div class="input-group">
					<input type="email" class="form-control" id="userEmail"
						name="userEmail" placeholder="예: user@example.com" required>
					<button class="btn btn-secondary" type="button"
						id="emailCheckButton">중복 확인</button>
				</div>
				<div id="emailValidationMessage" class="validation-message"></div>
			</div>
			<div class="form-group">
				<label for="userPhone">연락처</label> <input type="tel"
					class="form-control" id="userPhone" name="userPhone"
					placeholder="'-' 없이 숫자만 입력" required>
				<div class="validation-message text-danger">유효한 연락처를 입력해주세요.</div>
			</div>
			<button type="submit" class="btn btn-primary mt-3"
				id="updateSubmitButton" disabled>수정하기</button>
		</form>
	</div>

	<script>
    const userId = "[[${userId}]]";
    
    if(userId == '' || userId == null){
		alert("알수 없는 오류가 발생 하였습니다. 다시 로그인 바랍니다.")
		window.location.href='/user/loginPage';
	}else{
		selectUserByUserId(userId);
	}
	
	async function selectUserByUserId(userId){
		const userData = {
			userId: userId
		}
		try{
			const response = await fetch('/user/detail', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(userData)
            });
			
			if (!response.ok) {
                throw new Error('고객정보 조회중 오류가 발생 하였습니다.');
            }
			const result = await response.json(); // 실제 응답 데이터 추출
			
			if(result){
				document.getElementById("userName").value = result.userName;
				document.getElementById("userEmail").value = result.userEmail;
				document.getElementById("userPhone").value = result.userPhone;
			}
			
		}catch (error) {
            console.error('Login error:', error);
        }
	}
    
    document.getElementById('updateForm').addEventListener('submit', async function(e) {
        e.preventDefault();
        const formData = new FormData(this);
   		formData.set("userId", userId);
        console.log("진입 데이터 확인 ::::: " + JSON.stringify(Object.fromEntries(formData)))
        
        try{
        	
        	const response = await fetch('/user/update', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(Object.fromEntries(formData))
            });
            
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            const result = await response.json();
            
            console.log("결과 데이터 확인 ::::: " + JSON.stringify(result));
        	
        } catch (error) {
            console.error('userUpdate error:', error);
            alert('회원 수정 중 오류가 발생했습니다.');
        }
        
        
        });
       
    </script>
</body>
</html>