<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>User Data Page</title>
</head>
<body>
<!-- test comment -->
<div class="container-fluid mt-5" style="width: 80rem;">
	<div layout:fragment="content">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<!-- layout.html 적용 코드 타 html에서 insert 할때 참고 -->
				<th:insert th:replace="~{layout}" />
		
				<h2 class="mb-4">사용자 목록</h2>
				<table class="table table-striped table-hover">
					<thead class="table-dark">
						<tr>
							<th>#</th>
							<th>ID</th>
							<th>이름</th>
							<th>이메일</th>
							<th>전화번호</th>
							<th>권한</th>
							<th>등록일</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user, stat : ${List}">
							<td th:text="${stat.count}">1</td>
							<td th:text="${user.userId}">1</td>
							<td th:text="${user.userName}">홍길동</td>
							<td th:text="${user.userEmail}">user01@email.com</td>
							<td th:text="${user.userPhone}">010-1234-0001</td>
							<td th:text="${user.role}">admin</td>
							<td	th:text="${user.insertDate}">2024-06-01</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>