<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.planner.planner.user.mapper.UserMapper">
	<select id="userSelect" resultType="com.planner.planner.user.dto.ResponseUserDTO" >
		SELECT 
			USERID,
			USERNAME,
			USERPHONE,
			USEREMAIL,
			ROLE,
			INSERTDATE
		FROM USER_MASTER
	</select>
	
	<select id="selectOnebyCheck" parameterType="com.planner.planner.user.dto.RequestUserDTO" resultType="com.planner.planner.user.dto.ResponseUserDTO">
		SELECT
			USERID,
			USERNAME,
			USERPHONE,
			USEREMAIL
		FROM USER_MASTER
		WHERE 1=1
		AND USEYN = 'Y' 
			<if test="userId != '' and userId != null">
			AND USERID = #{userId}
			</if>
			<if test="password !='' and password != null">
			AND PASSWORD = #{password}
			</if>
			<if test="userEmail != '' and userEmail != null">
			AND USEREMAIL = #{userEmail}
			</if>
	</select>
	
	<insert id="joinUser" parameterType="com.planner.planner.user.dto.RequestUserDTO">
		INSERT INTO 
		USER_MASTER	
			(
			USERID,
			USERNAME,
			PASSWORD,
			USERPHONE,
			USEREMAIL,
			ROLE,
			USEYN,
			USERSTATUS,
			INSERTUSER,
			INSERTDATE
			)
		VALUE
			(
			#{userId},
			#{userName},
			#{password},
			#{userPhone},
			#{userEmail},
			'user',
			'Y',
			'Active',
			#{userId},
			NOW()
			)
	</insert>
	
	<select id="selectOnebyUser" parameterType="com.planner.planner.user.dto.RequestUserDTO" resultType="com.planner.planner.user.dto.ResponseUserDTO">
		SELECT
			USERID,
			USERNAME,
			USEREMAIL,
			USERPHONE
		FROM USER_MASTER
		WHERE 1=1
			AND USEYN = 'Y' 
			<if test="userId != '' and userId != null">
			AND USERID = #{userId}
			</if>
			<if test="userName != '' and userName != null">
			AND USERNAME = #{userName}
			</if>
			<if test="userEmail != '' and userEmail != null">
			AND USEREMAIL = #{userEmail}
			</if>
	</select>
	
	<update id="updateUserPass" parameterType="com.planner.planner.user.dto.RequestUserDTO">
		UPDATE USER_MASTER
		SET	
			password = #{password},
			updateUser = #{userId},
			updateDate = now()
		WHERE USERID = #{userId}
	</update>
	
	<update id="updateUserData" parameterType="com.planner.planner.user.dto.RequestUserDTO">
		UPDATE USER_MASTER
		SET
			<if test="userName != null">
			userName = #{userName},
			</if>
			<if test="userPhone != null">
			userPhone = #{userPhone},
			</if>
			<if test="userEmail != null">
			userEmail = #{userEmail},
			</if>
			updateUser = #{userId},
			updateDate = now()
		WHERE
			userId = #{userId}
	</update>
	

</mapper>