<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<th:block layout:fragment="css">
		<!-- 필요시 추가 css 가능 -->
	</th:block>
	<div class="container mt-4">
		<div layout:fragment="content">


			<!-- layout.html 적용 코드 타 html에서 insert 할때 참고 -->
			<th:insert th:replace="~{layout}" />

			<div class="alert alert-success mt-3 d-none" role="alert"
				id="successAlert">
				Bootstrap이 성공적으로 적용되었습니다!
				<button type="button" class="btn-close" data-bs-dismiss="alert"
					aria-label="Close"></button>
			</div>

			<h1 class="mb-4">Bootstrap 예제 버튼</h1>
			<button type="button" id="a1" class="btn btn-primary">Primary
				Button</button>
			<button type="button" class="btn btn-success" id="showAlertBtn">Success
				Button</button>
			<button type="button" class="btn btn-danger">Danger Button</button>
			<hr>
			<p>아래는 Bootstrap의 카드 컴포넌트 예시입니다.</p>

			<!-- controller에서 타임립프로 데이터 노출을 위한 방법 -->
			<p th:text="${message}" />
			<p th:text="${user}" />

			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">카드 제목</h5>
					<p class="card-text">이 텍스트가 Bootstrap 카드 컴포넌트에 의해 꾸며집니다.</p>
					<a href="#" class="btn btn-secondary">카드 버튼</a>
				</div>
			</div>

			<!-- 모달 트리거 버튼 -->
			<button type="button" class="btn btn-primary" data-toggle="modal"
				data-target="#myModal">모달 열기</button>

			<!-- 모달 내용 -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true"
				data-backdrop="static">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="myModalLabel">모달 제목</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							모달 내용입니다.
							<p id="realtime" th:text="${today}" />
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	$(document).ready(function() {
		$("#a1").click(function() {
			alert("Primary Button이 클릭되었습니다!");
			window.location.href = "/user";
		});
		$('#showAlertBtn').click(function() {
			$('#successAlert').removeClass('d-none');
			setTimeout(function() {
				$('#successAlert').addClass('d-none');
			}, 2000);
		});
	});

	// 1. 서버시간을 JS Date 객체로 변환
	let now = new Date(document.getElementById('realtime').textContent.replace(
			'T', ' '));

	// 2. 1초마다 시간 갱신
	setInterval(function() {
		now.setSeconds(now.getSeconds() + 1);
		document.getElementById('realtime').textContent = now.toLocaleString();
	}, 1000);
</script>
</html>